@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#root {
  overflow: hidden;
}

body {
  background-color: #181818;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: cover;
}

.active {
  background-color: #ef4444;
  border-radius: 4px;
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}

.skeleton-text {
  height: 6px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.skeleton-text:last-child {
  width: 80%;
  margin-bottom: 0px;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.navigation::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slider:hover {
  opacity: 1;
}
.video-player:hover .overplay-video {
  opacity: 1;
}

.overplay-video {
  opacity: 0;
  transition: all ease-in-out 0.5s;
  background-color: rgba(0, 0, 0, 0.37);
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  animation: opacityFade ease-in-out 0.5s;
}

.modal-animation {
  animation: modalReWatch ease-in-out 0.5s;
}

@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalReWatch {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.nav-user-list {
  animation: fade-in linear 0.2s;
}

.full-height {
  height: calc(100vh - 94px) !important;
}

@keyframes fade-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-body h1 {
  font-size: 100px;
  font-weight: 800;
  color: #fff;
}

.error-body p {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin: 20px 0;
}

.error-body a {
  padding: 10px 15px;
  background-color: #2980b9;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.2s all ease-in;
}

.error-body a:hover {
  padding: 10px 30px;
}

.navigation-item {
  position: relative;
}

.navigation-item::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  transition: all linear 0.4s;
}

.navigation-item.active-line::after {
  width: 100%;
}

.scroll-none-2::-webkit-scrollbar {
  display: none;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.scroll-none:hover::-webkit-scrollbar {
  display: block;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-100 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-100 {
  -webkit-line-clamp: 100;
}

.progress-bar {
  height: 3px;
}

.control {
  display: none;
  animation: fade 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.607);
}

.video-container {
  cursor: pointer;
}

.controls {
  display: none;
  animation: opacityFade ease-in-out 0.5s;
}

.video-container.active-controls .controls {
  display: flex;
}

.overlay-search {
  animation: opacityFade ease-in-out 0.5s;
}

@keyframes fade {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

textarea {
  resize: none;
}
